LABEL arch
TEXT HELP
Boot the YoMom Linux VQ3 install medium on BIOS. Yo mama so experienced she installs by hand.
Run yourmom-install to get started.
ENDTEXT
MENU LABEL YoMom Linux VQ3  -  btw I use yo mama
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the YoMom Linux VQ3 install medium on BIOS. Yo mama so experienced she installs by hand.with speakup screen reader.
Run yourmom-install to get started.with speech feedback.
ENDTEXT
MENU LABEL YoMom Linux VQ3  -  yo mama so loud  [speech]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
